@import "tailwindcss";
body{
    background-color: #050816;
}
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-\[float_4s_ease-in-out_infinite\] {
  animation: float 4s ease-in-out infinite;
}
